

    #background
    {
        width                   : 100%;
        height                  : 100%;

        position                : fixed;
        top                     : 0px;
        left                    : 0px;
    }

        #background > .main
        {
            width                   : 100%;
            height                  : 100%;

            position                : absolute;
            top                     : 0px;
            left                    : 0px;

            background              : url("../img/background_1.jpg");
            background-size         : cover;
            background-position     : center;
        }

        #background > .team1
        {
            width                   : 50%;
            height                  : 100%;

            position                : absolute;
            top                     : 0px;
            left                    : 0px;

            /* background              : url("img/background_1.jpg"); */
            background-size         : contain;
            background-position     : center center;
            background-repeat       : no-repeat;
        }

        #background > .team2
        {
            width                   : 50%;
            height                  : 100%;

            position                : absolute;
            top                     : 0px;
            right                   : 0px;

            /* background              : url("img/background_1.jpg"); */
            background-size         : contain;
            background-position     : center center;
            background-repeat       : no-repeat;
        }
